@use 'base/variables' as v;
@use 'base/mixins' as m;


.footer{
    padding-top: v.$separacion ;
    background-color: v.$secundario;
    color: v.$blanco;

    &__grid{
        @include m.tablet { 
            @include m.grid(3, 1rem);
        }
    }
    &__widget{
        margin-bottom: v.$separacion;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    &__heading{
        color: v.$blanco;
        margin: 0;
        text-align: center;

        @include m.tablet { 
            text-align: left;
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        text-align: center;

        @include m.tablet { 
            text-align: left;
        }
    }
    &__nav,
    &__texto{
        margin-top: 2rem;
    }
   
    &__link,
    &__texto{
        font-size: 2rem;
        line-height: 1.8;
        color: v.$blanco;
        text-align: center;
        @include m.tablet { 
            text-align: left;
        }
    }


    &__copyright{
        padding: 2rem;
        margin: 0;
        background-color: v.$primario;
        text-align: center;
        color: v.$blanco;
    }

}